mixin ship(name, infos)
    article.ship(data-id=name, data-name=infos.properties.name)
        .image(style="background-image: url(/images/TN_"+name+".jpg)")
        .infos
            h3=infos.properties.name
            span
                =infos.retailCost
                |  CR